.Home {
  width: 100vw;

  & > section {
    margin-left: 15rem;
  }
}

.domus {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &_title {
    font-size: 5rem;
  }
}

.about {
  height: 50vh;
}

.resources {
  height: 50vh;
}

.calendar {
  height: 50vh;
}

.gallery {
  height: 50vh;
}