@import '../util/variables.scss';
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

$orange-red: #ff5c31;
$purple-blue: #2b2b3d;

body {
  overflow-x: hidden;
  background-color: black;
}

.Home {
  width: 100%;
  color: white;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.domus {
  height: 30vh;
  margin-bottom: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 40vh;

  &_title {
    font-size: 10rem;
    size: 10rem;
    font-family: "Yeseva One", cursive;
    text-transform: uppercase;
    color: $orange-red;

    span:nth-child(1) {
      display: inline-block;
      rotate: -10deg;
      transform: translate(0, 2rem);
    }

    span:nth-child(2) {
      display: inline-block;
      rotate: -8deg;
      transform: translate(0, 1rem);
    }

    span:nth-child(3) {
      display: inline-block;
      rotate: -6deg;
      transform: translate(0, 0);
    }

    span:nth-child(4) {
      display: inline-block;
      rotate: -4deg;
      transform: translate(0, -0.5rem);
    }

    span:nth-child(5) {
      display: inline-block;
      rotate: -2deg;
      transform: translate(0, -0.8rem);
    }

    span:nth-child(6) {
      display: inline-block;
      rotate: 0deg;
      transform: translate(0, -1rem);
    }

    span:nth-child(7) {
      display: inline-block;
      rotate: 2deg;
      transform: translate(0, -0.8rem);
    }

    span:nth-child(8) {
      display: inline-block;
      rotate: 4deg;
      transform: translate(0, -0.5rem);
    }

    span:nth-child(9) {
      display: inline-block;
      rotate: 6deg;
      transform: translate(0, 0rem);
    }

    span:nth-child(10) {
      display: inline-block;
      rotate: 10deg;
      transform: translate(0, 1rem);
    }
  }

  &_subtitle {
    margin-top: 4rem;
    font-size: 1.5rem;
    font-family: "Yeseva One", cursive;
    font-weight: 100;
    text-transform: uppercase;
    color: white;
  }

  &_wreath {
    width: 30rem;
    height: 7.5rem;
  }

  &_links {
    position: absolute;
    bottom: 0;
    padding-bottom: 1.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 15rem;

    &_link {
      width: 2rem;
      height: 2rem;
    }
  }
}

.window {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  &_svg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
}

.background {
  position: fixed;
  z-index: -2;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/colosseum.png");
  background-size: cover;
}

.about {
  &_sec1 {
    margin: 5rem 15rem;

    & p {
      text-indent: 2rem;
      margin-bottom: 1rem;
    }
  }

  &_divider {
    background-color: $c3;

    &_text {
      color: $c2;
      font-weight: bold;
      font-size: 2rem;
      padding: 3rem 0;
    }
  }

  &_officers {
    display: flex;
    justify-content: center;
    margin: 5rem 12rem;
    gap: 3rem;
  }

  &_officerCol {
    &_1 {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }

    &_2 {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      margin-top: 4rem;
    }

    &_3 {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      margin-top: 8rem;
    }
  }

  &_officer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    height: 39rem;
    background-color: $c3-dark;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    overflow: hidden;

    &_img {
      min-width: 18rem;
      height: 18rem;
      overflow: hidden;
      filter: grayscale(1);
    }

    &_info {
      padding: 1rem;
    }

    &_general {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &_name {
      font-weight: bold;
      font-size: 1.5rem;
    }

    &_insta {
      display: block;

      & a img {
        width: 1.5rem;
      }
    }

    &_title {
      color: $c2;
      font-style: italic;
    }

    &_text {
      font-size: 1rem;
    }
  }

  &_sec2 {
    margin-top: 10vh;
    padding-top: 15rem;
    padding-bottom: 5rem;
    background: url("../assets/statue.png");
    background-size: cover;
  }

  &_sec3 {
    background-color: $c4;
    padding: 5rem 15rem;
  }

  &_compsHeader {
    color: $c2;
    font-style: italic;
    font-weight: bold;
    font-size: 1.75rem;
  }

  &_comps {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

    &_row {
      display: flex;
      gap: 2rem;
    }

    &_row1 {
      height: 30rem;
    }

    &_row2 {
      margin-top: -6rem;
      height: 30rem;
    }

    &_row3 {
      height: 23rem;
    }

    &_tileBg {
      background-color: white;
    }

    &_tileBg1 {
      clip-path: polygon(4% 0, 100% 0, 100% 80%, 4% 65%);
      width: 50%;
    }

    &_tileBg2 {
      clip-path: polygon(0 4%, 100% 4%, 100% 100%, 0 85%);
      width: 50%;
    }

    &_tileBg3 {
      clip-path: polygon(0 0, 100% 15%, 100% 95%, 0 100%);
      width: 47%;
    }

    &_tileBg4 {
      clip-path: polygon(0 14%, 96% 29%, 96% 89%, 0 94%);
      width: 53%;
    }

    &_tileBg5 {
      clip-path: polygon(4% 16%, 100% 9%, 100% 100%, 4% 100%);
      width: 50%;
    }

    &_tileBg6 {
      clip-path: polygon(0 7%, 100% 0, 100% 95%, 0 95%);
      width: 50%;
    }

    &_tile {
      width: 100%;
      height: 100%;
      background-color: $c4;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: end;

      & img {
        width: 100%;
        filter: grayscale(1);
      }
    }

    &_tile1 {
      clip-path: polygon(4.5% 0.5%, 99.5% 0.5%, 99.5% 79.5%, 4.5% 64.5%);
    }

    &_tile2 {
      clip-path: polygon(0.5% 4.5%, 99.5% 4.5%, 99.5% 99.5%, 0.5% 84.5%);
    }

    &_tile3 {
      clip-path: polygon(0.5% 0.5%, 99.5% 15.5%, 99.5% 94.5%, 0.5% 99.5%);
    }

    &_tile4 {
      clip-path: polygon(0.5% 14.5%, 95.5% 29.5%, 95.5% 88.5%, 0.5% 93.5%);
    }

    &_tile5 {
      clip-path: polygon(4.5% 16.5%, 99.5% 9.5%, 99.5% 99.5%, 4.5% 99.5%);
    }

    &_tile6 {
      clip-path: polygon(0.5% 7.5%, 99.5% 0.5%, 99.5% 94.5%, 0.5% 94.5%);
    }

    &_title {
      font-weight: bold;
      font-size: 1.75rem;
      margin-bottom: 2rem;
      font-style: italic;
    }

    &_desc {
      width: 90%;
    }
  }
}

.resources {
  height: 60vh;
}

.calendar {
  height: 60vh;
}

.gallery {
  height: 80vh;
}