.infiniteScrollLoop {
  &_outer {
      background-color: beige;
      position: relative;
      &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          pointer-events: none;
      }
  }
  &_inner {
      overflow-y: scroll;
      scrollbar-width: none;
      &::-webkit-scrollbar {
          display: none;
      }
  }
}