.wrapper {
    overflow-x:hidden;
}
  .marquee {
    z-index: -1;
    font-size: 72px;
    font-style: italic;
    rotate: (-5deg);
    background-color: red;
    line-height: 200px;
    position: absolute;
    left:-40px;
    overflow-x: hidden;
    height: 200px;
    width: calc(120vw + 80px);
    
  }
  
  .track {
    position: absolute;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 8s linear infinite;
    
  }

  .track div {
    width: calc(30vw + 20px);
  }
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-25%); }
  }
  